Pythonissa "set" tietorakenne edustaa kokoelmaa, joka koostuu ainutlaatuisista ja järjestämättömistä alkioista. Setin voi luoda aaltosulkeiden {} tai set() -funktion avulla. Tässä on esimerkki setistä:

In [7]:
myset={10,20,30,40,20,30}
#One variable,number only can be counted by set once

In [8]:
len(myset)

4

In [9]:
myset

{10, 20, 30, 40}

Tämä joukko sisältää numerot {10, 20, 30, 40, 55, 99}. Huomaa kuitenkin, että jotkut numerot toistuvat. Joukot (set) säilyttävät vain uniikit arvot. Tämän vuoksi toistuvat numerot edustetaan joukossa vain kerran.

In [10]:
myset2={30,40,50,60,70}

In [11]:
myset.union(myset2)

{10, 20, 30, 40, 50, 60, 70}

union-metodi Pythonissa käytetään kahden joukon unionin suorittamiseen. Se palauttaa uuden joukon, joka sisältää kaikki uniikit elementit molemmista joukoista ilman päällekkäisyyksiä.

In [12]:
myset.intersection(myset2)

{30, 40}

Tässä koodissa meillä on kaksi joukkoa, myset1 ja myset2. intersection-metodia kutsutaan myset1-joukolle myset2-argumentilla. Tuloksena saadaan uusi joukko, joka sisältää vain yhteisen elementin 30,40: {30,40}.

In [15]:
country_list=["Finland","Germany","Holland","France","Finland","Germany","Norway","Sweden","Kanada","France","Finland","Spain","Finland"]

In [16]:
len(country_list)

13

In [17]:
len(set(country_list))
#Kuinka monta eri maata on olemassa

8

In [18]:
set(country_list)

{'Finland',
 'France',
 'Germany',
 'Holland',
 'Kanada',
 'Norway',
 'Spain',
 'Sweden'}

Tässä koodissa on määritelty country_list niminen lista, joka sisältää eri maiden nimiä. set(country_list) -koodi muuttaa tämän listan joukoksi. Joukko sisältää vain yksilölliset (toistumattomat) alkiot.Tässä koodissa on määritelty country_list niminen lista, joka sisältää eri maiden nimiä. set() -funktio muuntaa tämän listan joukoksi. Tuloksena saadaan joukko, joka sisältää vain yksilölliset maat{"Finland","Germany","Holland","France","Finland","Germany","Norway","Sweden","Kanada","France","Finland","Spain","Finland"}

Tällä tavalla set(country_list) -koodi ottaa vastaan listan maista ja luo joukon, joka sisältää vain yksilölliset maat.

miten luodaan tyhjä joukko (set)?
empty_set = set()
Yllä olevassa koodissa voit luoda tyhjän joukon käyttämällä set() -funktiota. Tällä tavalla empty_set-niminen tyhjä joukko luodaan ja tulostetaan näytölle: set().

In [23]:
emptyset = set()

In [24]:
type(emptyset)

set

In [25]:
emptyset.add(10)
emptyset.add(20)
emptyset.add(30)
emptyset.add(10)
emptyset.add(20)
emptyset.add(40)
emptyset.add(10)

In [26]:
emptyset

{10, 20, 30, 40}

In [27]:
emptylist = list()

In [28]:
emptylist

[]

In [29]:
emptylist.append(10)
emptylist.append(10)
emptylist.append(20)
emptylist.append(30)
emptylist.append(20)

In [30]:
emptylist

[10, 10, 20, 30, 20]

In [31]:
emptydictionary = dict()

In [34]:
emptydictionary ["a"] = 10
emptydictionary ["b"] = 20
emptydictionary ["c"] = 30

In [35]:
emptydictionary

{'a': 10, 'b': 20, 'c': 30}