In [2]:
#Range

range() toiminto Pythonissa on funktio, jota käytetään peräkkäisten numeroiden sarjojen luomiseen. Sitä käytetään yleisesti silmukoissa tai listoissa tietyllä numerovälillä liikkumiseen. range() toiminnolla on kolme eri käyttötarkoitusta:

range(stop): Tätä käytettäessä funktio luo peräkkäisten numeroiden sarjan alkaen 0:sta ja päättyen stop-arvoon (pois lukien). Esimerkiksi:

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

Tässä esimerkissä range(5) luo sarjan numeroita 0:sta alkaen ja päättyen 5:een. Jokainen numero annetaan muuttujaan i ja tulostetaan näytölle.

range(start, stop): Tätä käytettäessä funktio luo peräkkäisten numeroiden sarjan, joka alkaa start-arvosta ja päättyy stop-arvoon (pois lukien). Esimerkiksi:

In [4]:
for i in range(2, 8):
    print(i)

2
3
4
5
6
7

Tässä esimerkissä range(2, 8) luo sarjan numeroita, jotka alkavat 2:sta ja päättyvät 8:aan. Jokainen numero annetaan muuttujaan i ja tulostetaan näytölle.

#
range(start, stop, step): Tätä käytettäessä funktio luo peräkkäisten numeroiden sarjan, joka alkaa start-arvosta ja päättyy stop-arvoon (pois lukien). step-parametri määrittää numeroiden välisen eron. Esimerkiksi:

In [5]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

Tässä esimerkissä range(1, 10, 2) luo sarjan numeroita, jotka alkavat 1:stä ja päättyvät 10:een, ja numeroiden välissä on aina ero 2. Jokainen numero annetaan muuttujaan i ja tulostetaan näytölle.

range() toiminto on erittäin hyödyllinen erityisesti silmukoiden avulla tietyn numerovälin läpikäymisessä.

In [1]:
range(10)

range(0, 10)

In [2]:
my_range = list(range(10))

In [6]:
my_list = [1,2,3,4,5,6,7,8,9]

In [10]:
my_list = list(range(10))
for num in my_list:
    print(num * 2)

0
2
4
6
8
10
12
14
16
18

In [11]:
list(range(5,25))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [12]:
list(range(5,25,5))

[5, 10, 15, 20]

In [2]:
my_list2 =[20,30,40,50,60]

In [4]:
for num in my_list2:
    print(num)

20
30
40
50
60

In [6]:
for index in range(len(my_list2)):
    print(index)

0
1
2
3
4

In [8]:
for index in range(len(my_list2)):
    print(my_list2[index])

20
30
40
50
60

In [9]:
#How we can print the number and the index number same time?
#miten tulostaa alkion ja indeksin samanaikaisesti?"
#enumerate

In [10]:
for element in enumerate (my_list2):
    print(element)

(0, 20)
(1, 30)
(2, 40)
(3, 50)
(4, 60)

In [11]:
for (index,value) in enumerate(my_list2):
    print(value)

20
30
40
50
60

In [12]:
for (index,value) in enumerate(my_list2):
    print(index)

0
1
2
3
4

In [13]:
#Random

In [36]:
from random import shuffle

In [29]:
from random import randint

In [30]:
randint(0,100)

1

In [31]:
my_list2

[20, 30, 40, 50, 60]

In [37]:
shuffle(my_list2)

In [38]:
my_list2

[40, 30, 60, 20, 50]

In [40]:
my_list2.append([70, 80, 90, 100, 110])

In [41]:
my_list2

[40, 30, 60, 20, 50, [70, 80, 90, 100, 110]]

In [46]:
my_list2[randint(0,len(my_list2))]

30

In [47]:
a = [1,2,3]
b = a
print(a is b, a==b)

True True

In [48]:
food_list = ["Apple","banana","melon"]

In [50]:
calories_list = [100,150,200]

In [51]:
day_list = ["monday","tuesday","wednesday"]

In [54]:
zipped_list = list(zip(food_list,calories_list,day_list))

In [55]:
zipped_list

[('Apple', 100, 'monday'),
 ('banana', 150, 'tuesday'),
 ('melon', 200, 'wednesday')]

In [56]:
new_list = []
my_string = "Metallica"
for element in my_string:
    new_list.append(element)

In [57]:
new_list

['M', 'e', 't', 'a', 'l', 'l', 'i', 'c', 'a']

In [58]:
#List comprehension

In [60]:
number_list=[10,20,30,40,50,60]

In [63]:
new_number_list = [ num/2 for num in number_list]

In [64]:
new_number_list

[5.0, 10.0, 15.0, 20.0, 25.0, 30.0]